<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center">
                <h1>{{portfolio.nom+' '+portfolio.prenom}}</h1>
                <h2 class="subheading">{{portfolio.subheading}}</h2>
                <img src="../assets/img/me.jpg"class="image rounded-circle"alt="">
                <div class="row justify-content-center"><a *ngFor="let social of portfolio.socialMedia" [href]="social.link" target="blank" class="p-2"><i [style.color]="social.color" [class]="social.icon"></i></a></div>
                <div class="row justify-content-center">
                    <h5>{{portfolio.introduction}}</h5>
                </div>
            </div>
            <div>
                <h3>
                    <i (click)="toggleOpen('logOpen')" *ngIf="logOpen; else logExpanded" class="fa fa-plus"></i>
                    <ng-template #logExpanded><i class="fa fa-minus" (click)="toggleOpen('logOpen')"></i></ng-template>
                    Experiences
                </h3>
                <p>I am a mobile app and developer. here are of some experiences</p>
                <div *ngIf="!logOpen">
                    <ul>
                        <li *ngFor="let change of portfolio.changeLog" [ngStyle]="{'color':change.color}" (mouseenter)="change.showDetails=true;" (mouseleave)="change.showDetails=false;">
                            <p>{{change.month+'-'+change.year}}</p>
                            <p>{{change.highlight}}</p>
                            <p *ngIf="change.showDetails" class="changeDetails">{{change.details}}</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="">
                <h3>
                    <i (click)="toggleOpen('logOpenUpdates')" *ngIf="logOpenUpdates; else logExpandedUpdates" class="fa fa-plus"></i>
                    <ng-template #logExpandedUpdates><i class="fa fa-minus" (click)="toggleOpen('logOpenUpdates')"></i></ng-template>
                    Projets
                </h3>
                <p>the experiences and sites created</p>
                <div *ngIf="!logOpenUpdates">
                    <ul>
                        <li *ngFor="let info of portfolio.updates">
                            <p>{{info.description}}</p>
                            <p><a [href]="info.link">{{info.link}}</a></p>
                        </li>
                    </ul>
                </div> 
            </div>
        </div>
    </div>
</div>